html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    min-height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


    /* --- Generic classes --- */

.avatar {
    width: 25px;
    height: 25px;
}

.block {
    background-color: lightgray;
    margin: 10px;
}

.friend {
    cursor: pointer;
}

.friend:hover {
    background-color: gray;
}

.hidden {
    display: none;
}

    /* --- Menus --- */

#TopMenu, #BottomMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: lightblue;
}

#ChatList li {
    display: inline-block;
}


    /* --- Mid Section --*/

#Mid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0 10%;
    flex-grow: 1;
    margin: 20px;
}

#CurrentTab {
    width: 75%;
}

#Account {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

#FriendsList {
    flex-grow: 1;
}

#FriendsList li {
    height: 50px;
}

#FriendContextMenu {
    position: absolute;
    background-color: lightcoral;
    padding: 5px;
}