html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    min-height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(122, 154, 186);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: rgb(180, 180, 180);
}

a:hover {
    color: rgb(220, 220, 220);
}

@font-face {
    font-family: 'iec_symbols_unicoderegular';
    src: url('fonts/Unicode_IEC_symbol.woff');
}


    /* --- Generic classes --- */

.avatar {
    width: 25px;
    height: 25px;
}

.block {
    background-color: rgba(39, 51, 62, 0.8);
    margin: 10px;
}

.block > * {
    padding: 10px;
}

.blockHeader {
    background-color: rgba(39, 51, 62, 0.9);
}

.blockHeader2 {
    background-color: rgba(39, 51, 62, 0.5);
}

.friend:hover, #MainPlayer:hover, #PartyChatButton:hover {
    background-color: rgba(69, 86, 101, 0.9);
}

.hidden {
    display: none !important;
}

.button {
    cursor: pointer;
    transition: background-color 0.2s;
}

.blockButton {
    cursor: pointer;
    color: rgb(128, 187, 142);
    background: linear-gradient(to bottom, rgb(47, 113, 92), rgb(34, 94, 66));
    padding: 10px 100px;
    margin: 20px;
    transition: box-shadow 0.1s, color 0.2s;
}

.blockButton:hover {
    color: rgb(148, 207, 162);;
    box-shadow: rgba(15, 122, 25, 0.8) 0px 0px 5px 1px;
}

.playerName {
    color: rgb(135, 177, 204);
}

.innerTab {
    display: inline-block;
    padding: 3px 20px;
}

.innerTab:hover, .innerTabSelected {
    background: linear-gradient(to bottom, rgb(67, 94, 130), rgb(57, 81, 111));
}

.map img {
    width: 150px;
}

.horizontalList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50%;
}

.tab {
    padding: 0;
    width: 100%;
    height: 100%;
}

    /* --- Menus --- */

#TopMenu, #BottomMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(27, 36, 44) 0%, rgb(62, 70, 77) 10%, rgb(62, 70, 77) 90%, rgb(27, 36, 44) 100%);
    color: white;
}

#BottomMenu {
    justify-content: space-between;
}

#LeftSide {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#LeftSide > * {
    padding: 0 20px;
    height: 30px;
}

#MenuSearching {
    padding: 0 20px;
}

#TopMenu li {
    padding: 15px 50px;
}

#TopMenu .button:hover, .tabSelected {
    background-color: rgb(94, 99, 104);
}

#TopMenu li:not(:last-of-type) {
    border-right: 3px solid rgb(34, 39, 43);
}

#ChatList li {
    display: inline-block;
}

#Quit {
    font-family: 'iec_symbols_unicoderegular';
}

#Home img {
    height: 18px;
}


    /* --- Mid Section --*/

#Mid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0 10%;
    flex-grow: 1;
    margin: 20px;
}

#CurrentTab {
    width: 65%;
}

#Account {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 20%;
    text-align: left;
}


    /* --- Friends List --- */

#FriendsList {
    flex-grow: 1;
}

#FriendsList li {
    height: 50px;
}

#ContextMenu {
    position: absolute;
    background: linear-gradient(to bottom, rgb(40, 58, 78), rgb(22, 28, 33));
    padding: 10px 0;
    border: 2px solid rgb(66, 96, 127);
    text-align: left;
}

#ContextMenu li {
    padding: 5px;
    padding-right: 40px;
}

#ContextMenu li:hover {
    background: linear-gradient(to right, rgba(77, 115, 138, 0.8), rgba(77, 115, 138, 0) 85%);
}

#ContextMenu hr {
    border: 0;
    height: 2px;
    background: linear-gradient(to right, rgb(44, 65, 87), rgb(34, 48, 63));
}

#FriendsOnline {
    float: right;
}

#FriendsList > ul {
    padding: 0;
}

#FriendsList li {
    padding: 5px 10px;
}


    /* --- Party --- */

#Party li {
    display: inline-block;
    margin: 0 5px;
}

#PartyChat {
    position: absolute;
    top: -120px;
    left: 0px;
    padding: 5px;
    color: rgb(184, 185, 186);
    background-color: rgb(40, 50, 60);
    border: 2px solid rgb(24, 33, 41);
    text-align: left;
    width: 500px;
    height: 100px;
}

#PartyChat ul {
    height: 80px;
    background-color: rgb(26, 36, 46);
    overflow-y: scroll;
}

#PartyChatInput {
    background-color: rgb(22, 30, 37);
    width: 90%;
    color: rgb(184, 185, 186);
}


    /* --- Play Tab --- */

#PlayTab {
    display: flex;
    flex-direction: column;
    position: relative;
}

.playList {
    flex-grow: 1;
}

.playList li {
    display: inline-block;
    background: linear-gradient(to right, rgb(46, 54, 59), rgb(60, 69, 76));
    margin: 5px 0;
}

.playList li:hover {
    background: linear-gradient(to right, rgb(56, 64, 69), rgb(70, 79, 86));
}

.playList figure {
    margin: 0;
    margin-bottom: 25px;
}

.playList .mapSelected {
    background: linear-gradient(to right, rgb(66, 92, 125), rgb(50, 68, 92));
}

.playList .mapSelected:hover {
    background: linear-gradient(to right, rgb(76, 102, 135), rgb(60, 78, 102));
}

#PlayTab hr {
    width: 100%;
    height: 1px;
    background-color:rgba(38, 46, 54, 0.6);
    border: none;
    border-bottom: 1px solid rgba(55, 69, 83, 0.6);
}

#PlayControls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#PlayOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameDescription {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 50px;
    text-align: left;
    font-size: 90%;
}

.gameDescription > * {
    flex-basis: 0;
    flex-grow: 1;
}

#PlayTab .gameDescription li {
    display: block;
}


    /* --- Accept Dialog --- */

#AcceptDialogOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#AcceptDialog {
    background: linear-gradient(to bottom, rgb(45, 67, 56), rgb(8, 14, 20));
    color: white;
    padding: 20px;
}


    /* --- Blog Tab --- */

#BlogTab iframe {
    width: 100%;
    height: 100%;
}


    /* --- Home Tab --- */

#HomeTab {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#HomeTab h1 {
    font-size: 120%;
    margin: 0;
}

#HomeTab img {
    width: 70%;
}

.homeBlock {
    width: 25%;
    height: 75%;
    margin: 0;
    padding: 10px;
    background-color: rgba(39, 51, 62, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.homeBlock:hover {
    background-color: rgba(39, 51, 62, 0.8);
}

#OverwatchButton {
    background: linear-gradient(to bottom, rgb(73, 103, 145), rgb(53, 76, 107));
    padding: 10px;
}

#OverwatchButton:hover {
    background: linear-gradient(to bottom, rgb(83, 113, 155), rgb(63, 86, 117));
}

#OverwatchCaseId {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}