html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    min-height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(122, 154, 186);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'iec_symbols_unicoderegular';
    src: url('fonts/Unicode_IEC_symbol.woff');
}


    /* --- Generic classes --- */

.avatar {
    width: 25px;
    height: 25px;
}

.block {
    background-color: rgba(39, 51, 62, 0.8);
    margin: 10px;
}

.block > * {
    padding: 10px;
}

.blockHeader {
    background-color: rgba(39, 51, 62, 0.9);
}

.friend:hover {
    background-color: rgba(69, 86, 101, 0.9);
}

.hidden {
    display: none;
}

.button {
    cursor: pointer;
}


    /* --- Menus --- */

#TopMenu, #BottomMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(27, 36, 44) 0%, rgb(62, 70, 77) 10%, rgb(62, 70, 77) 90%, rgb(27, 36, 44) 100%);
    color: white;
}

#BottomMenu {
    position: relative;
    justify-content: flex-start;
}

#TopMenu li {
    padding: 15px 50px;
}

#BottomMenu > * {
    padding: 0 20px;
    height: 30px;
}

#TopMenu li:not(:last-of-type) {
    border-right: 3px solid rgb(34, 39, 43);
}

#ChatList li {
    display: inline-block;
}

#Quit {
    font-family: 'iec_symbols_unicoderegular';
}


    /* --- Mid Section --*/

#Mid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0 10%;
    flex-grow: 1;
    margin: 20px;
}

#CurrentTab {
    width: 65%;
}

#Account {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 20%;
    text-align: left;
}


    /* --- Friends List --- */

#FriendsList {
    flex-grow: 1;
}

#FriendsList li {
    height: 50px;
}

#ContextMenu {
    position: absolute;
    background: linear-gradient(to bottom, rgb(40, 58, 78), rgb(22, 28, 33));
    padding: 10px 0;
    border: 2px solid rgb(66, 96, 127);
    text-align: left;
}

#ContextMenu li {
    padding: 5px;
    padding-right: 40px;
}

#ContextMenu li:hover {
    background: linear-gradient(to right, rgba(77, 115, 138, 0.8), rgba(77, 115, 138, 0) 85%);
}

#ContextMenu hr {
    border: 0;
    height: 2px;
    background: linear-gradient(to right, rgb(44, 65, 87), rgb(34, 48, 63));
}

#FriendsOnline {
    float: right;
}

#FriendsList > ul {
    padding: 0;
}

#FriendsList li {
    padding: 5px 10px;
}


    /* --- Party --- */

#Party li {
    display: inline-block;
    margin: 0 5px;
}

#PartyChat {
    position: absolute;
    top: -50px;
    background-color: lightskyblue;
}